.custom-bg-primary {
  background-color: #f4623a;
}

.c-btn-primary {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}

.c-btn-primary:hover {
  color: #fff;
  background-color: #d34720;
  border-color: #d34720;
}

.sidebar-logo {
  display: block;
  margin: 20px auto;
  /* Pusatkan logo */
  width: 40%;
  /* Sesuaikan ukuran */
}

.no-data {
  height: 100px;
}

input.form-control::placeholder {
  color: #b9b9b9;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}