.custom-bg-primary {
  background-color: #f4623a;
}
.c-btn-primary {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}
.c-btn-primary:hover {
  color: #fff;
  background-color: #d34720;
  border-color: #d34720;
}
